* {
  box-sizing: border-box;
}

body {
  @include main-font;
  font-weight: $main-weight;
  line-height: $main-height;
  color: $main-color;
  font-size: $main-size;
  min-width: 320px;
}

.logo {
  width: $logo-width;
  height: $logo-height;
}
