.nav {

  &__menu {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;

    @include mobile {
      flex-direction: column;
      text-align: center;
    }
  }

  &__item {
    @include mobile {
      padding-bottom: 10px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $light-color;
    white-space: nowrap;
    transition: color .3s ease-out;

    &:hover {
      color: $hover-color;
    }

    @include mobile {
      font-size: 20px;
    }
  }
}
